# Python bytecode
__pycache__/
*.pyc
*.pyo

# Jupyter checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
.env/

# Data logs or large files
*.log
data/raw/
data/processed/

# OS-specific
.DS_Store

# Docker
*.dockerfile

# HPC
*.slurm.out
*.slurm.err
*.slurm

# Eclipse or VSCode etc.
.project
.settings/
.idea/
.vscode/
